:root {
    --primary: #03045E;
    --secondary: #0077B6;
    --accent: #00B4D8;
    --background: #90E0EF;
    --surface: #CAF0F8;
    --content: #FFFFFF;

    --onPrimary: #FFFFFF;
    --onSecondary: #FFFFFF;
    --onAccent: #03045E;
    --onBackground: #03045E;

    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%; /* Ensure full height for the html element */
}

body {
    min-height: 100vh;
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    font-family: var(--font-family);
    background-color: var(--background);
    color: var(--onBackground);
    margin: 0; /* Ensure no margin issues */
}

a {
    color: inherit;
    text-decoration: none;
}
